# Exclude trained models
*.pt

# Exclude Knowledge Distillation directories
Knowledge_Distillation/checkpoints/
Knowledge_Distillation/distilled_models/
Knowledge_Distillation/distilled_models/**
@Knowledge_Distillation/distilled_models

# Knowledge Distillation directories
Knowledge_Distillation/distilled_models/
Knowledge_Distillation/distilled_models/**
Knowledge_Distillation/checkpoints/
*.safetensors

# Exclude dataset directory
Segmentation/kaggle_3m/

# Exclude environment variables file with API keys
.env

# Python-related files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
